
.pf-v5-c-page__header {
    display: none!important;
  }
  


/* main.css */
@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/quicksand-v31-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Quicksand", sans-serif;
}

.btn-default {
  background-color: #f8f9fa !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid #e0e0e0 !important;
  padding: 6px 16px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.75 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease !important;
  cursor: pointer !important;
  background-image: none !important;
  margin-top: 10px !important;
}

.btn-default:hover {
  background-color: #e8e8e8 !important;
  background-image: none !important;
  
}
